# Frontend environment example
# Copy values as needed for local development.

VITE_API_URL=http://localhost:3000
VITE_LOCAL_IP=http://localhost:3000

VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_UPLOAD_PRESET=

SERVICE_ID=
TEMPLATE_ID=
PUBLIC_KEY=
